:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --text-decoration-color: #2196f3;
    --white-color:#ffffff;
    --btn-bg-color:#F5F4FA;
    --icon-color:#AFB1B8;
    --complementary-color: #2F303ACC;
    --option: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  
  /* Логотип */
  .studio-header {
    color: #000;
    font-family: 'Raleway';
  }
  
  .studio-footer {
    display: inline-block;
    color: var(--white-color);
    margin-bottom: 20px;
  }
  
  .logo {
    display: inline-block;
    margin-bottom: 20;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--text-decoration-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }
  
  .logo:hover {
    color: var(--text-decoration-color);
  }

  /* Утилиты */
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  
  
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }

.hero,
.features{
  align-items: center;
}

.link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color); 
}

/* Скрытый заголовок h1 */
.hidden{
    display: none;
  }

/* Полоса под header*/
   .header{
     outline: 1px solid #ECECEC;
   } 


  /* Header Студия и Фото*/
  .link-studio,
  .link-foto {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-decoration-color);
    text-decoration: none;
  }

  .link-studio::after{
    position: absolute;
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--text-decoration-color);
    opacity: 1;
  }

  .link-foto::after{
    position: absolute;
    display: block;
    content: "";
    width: 78px;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--text-decoration-color);
    opacity: 1;
  }


  /* Main-nav */
  .main-nav{
    display: flex;
    align-items: center;
  }
  
  /* Site-nav */
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--text-decoration-color);
  }
  
.site-nav{
  display: flex;
  margin-left: 93px;
}

.site-nav li:not(:last-child){
  margin-right: 50px;
}

  /* Auth-nav */
  .auth-nav{
    display: flex;
    margin-left: auto;
  }

  .auth-nav .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14
    color: var(--primary-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }

  .mail-icon{
    margin-right: 10px;
    fill: currentColor;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .mail-icon:hover,
  .mail-icon:focus{
    fill: var(--text-decoration-color);

  }

  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--text-decoration-color);

  }
   
  .auth-nav li+ li{
  margin-left: 50px;
  }

  /* Hero */
  .hero {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .hero .button {
    display: inline-block;
    padding: 10px 32px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .hero .button:hover{
    color: var(--white-color);
    background-color: #188CE8;
  }

  .backdrop{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .modal{
    width: 528px;
    height: 581px;
    position: absolute;
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%,-50%);
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .close-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .close-icon:hover{
    fill: var(--text-decoration-color);
  }

  .backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  /* Заголовки всех секций h1 */
  .section-title {
    text-align: center;
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
  }

  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .content{
    padding-top: 0;
  }

  /* секция Особенности */
.features{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.features .item{
  width: 270px;
}

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
  }

  .item-features{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--btn-bg-color);
  }
  
/* Чем мы занимаемся */
  .picture{
  display: flex;
  justify-content: space-between;
  }

  .item-picture{
    position: relative;
  }

  .text-picture{
    position: absolute;
    display: flex;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    transform: translate(0px, -100%);
  } 


  /* секция Наша команда */
  .peoples{
    background-color: #F5F4FA;
  }

  .userpic{
    display: flex;
    justify-content: space-between;
  }

  .item-userpic{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  img{
    display: block;
    max-width: 100%
  }

  .name-position{
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
  }

  .name {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19
    color: var(--title-text-color);
  }
  
  .position {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
  }

  .social-network{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    list-style-type: none;
  }
  
  .social-network>.social:not(:last-child){
    margin-right: 10px;}
  

 .social-link{
   display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--white-color);
    fill: var(--icon-color);
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .social-link:hover,
  .social-link:focus{
    background-color: var(--text-decoration-color);
    fill: var(--white-color);

  }

/* Постоянные клиенты */
.clients{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.list-clients{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.item-clients:not(:last-child){
  margin-right: 30px;
}

.link-clients{
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: var(--option);
}

.link-clients:hover,
.link-clients:focus{
  border: 1px solid #2196F3;
  fill: var(--text-decoration-color);

}

  /* Кнопки портфолио */
  .section-btn-all {
    display: block;
    padding: 6px 22px;
    margin-right: 8px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
  }
  
  .section-btn{
    display: block;
    padding: 6px 22px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
    }
    
  .section-btn:hover,
  .section-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  }

  .list-button{
    list-style: none;
  }
  
  /* Портфолио*/

.portfolio{
  padding: 94px 0;
}

.list-button{
  display: flex;
  margin: 0 0 34px;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.foto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 -30px -30px;
}

.items{
  box-sizing: border-box;
  width: calc(100%/3 - 30px);
  margin: 0 0 30px 30px;
  transition-duration: 250ms;
  transition-timing-function: var(--option);
}

.items:hover{
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-overlay{
  position: relative;
  overflow: hidden;
}

.text-portfolio{
  position:absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover .text-portfolio{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project{
  margin-left: auto;
  margin-right: auto;
  padding: 20px 24px;
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
  border-top: none;
}

  .project-name {
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color)
  }
  
  .project-type {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }

  .list-link{
    transition-duration: 250ms;
    transition-timing-function: var(--option);
  }

  .list-link:hover{
    background-color: var(--text-decoration-color);
  }

  /* Footer */
  .footer {
    background: #2f303a;
  }

  .footer>.container{
    display: flex;
  }

  /* Адрес */
  .address{
    padding: 60px 70px 60px 0px;
  }

  .list-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color) ;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: var(--option);
  }
  
  .list-address:hover,
  .list-address:focus,
  .mail:hover,
  .mail:focus,
  .tel:hover,
  .tel:focus {
  color: var(--text-decoration-color);

  }
  
  .mail,
  .tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: var(--option);
  }

.list-address,
.mail{
  display: inline-block;
  margin-bottom: 9px;
}

  .tel{
    display: inline-block;
  }

  /* Присоединяйтесь в социальных сетях */
  .content{
    padding-top: 72px;
    padding-bottom: 100px;
  }

  h4{
    margin-top: 0;;
    margin-bottom: 20px;
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
  }

  .social-network-footer{
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .social-footer:not(:last-child){
    margin-right: 10px;
  }

  .social-link-footer{
    display: flex;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.1);
     fill: var(--white-color);
     transition-duration: 250ms;
     transition-timing-function: var(--option);
   }
 
   .social-link-footer:hover,
   .social-link-footer:focus{
     background-color: var(--text-decoration-color);
     fill: var(--white-color);
   }

   .forma{
     margin-top: 72px;
     margin-left: 93px;
   }

   .form-label{
    font-weight: 700;
     font-size: 14px;
     line-height: 1.17;
     color: var(--white-color);
   }

   .footer-box{
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .form-input{
    width: 358px;
    height: 50px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
   }

   .btn{
     position: relative;
     margin-top: 20px;
     margin-left: 12px;
     padding: 10px 62px 10px 29px;
     width: 200px;
     height: 50px;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     align-items: center;
     color: var(--btn-bg-color);
     background-color: var(--text-decoration-color);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: 1px solid transparent;
     transition-duration: 250ms;
     transition-timing-function: var(--option);
   }

   .btn:hover{
    color: var(--white-color);
    background-color: #188CE8;
   }

   .btn-title{
     position: absolute;
     top: 10px;
     left: 29px;
   }

   .btn-icon{
     position: absolute;
     top: 13px;
     right: 28px;
   }

   /* Модальное окно */
   .form{
     width: 100%;
     height: 100%;
   }

   .form-text{
     display: block;
     margin: 40px 40px 2px;
     font-weight: 700;
     font-size: 20px;
     line-height: 1.17;
     color: var(--title-text-color);
     text-align: center;
   }

   .field{
    position: relative;
    display: block;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
  }
   
   .subtitle{
     display: block;
     margin-top: 10px;
     font-size: 12px;
     line-height: 1.17;
     color: var(--primary-text-color);
   }

   .input {
     display: block;
     width: 100%;
     height: 40px;
     margin-top: 4px;
     padding-left: 42px;
     font-size: 16px;
     line-height: 1.12;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     transition-duration: 250ms;
     transition-timing-function: var(--option);
     transition: border-color;
     outline: none;
   }

   .input:hover,
   .input:focus{
     border-color: var(--text-decoration-color);
     fill:var(--text-decoration-color;)
   }

   .field:focus-within >.data-icon{
     fill: var(--text-decoration-color);
   }

   .field:focus-within >.input{
     border-color: var(--text-decoration-color);
   }

   .data-icon{
     position: absolute;
     top: 50%;
     left: 52px;
     transition-duration: 250ms;
     transition-timing-function: var(--option);
   }

   .comment{
    margin-top: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition-duration: 250ms;
    transition-timing-function: var(--option);
    transition: border-color;
    outline: none;
   }

   .comment:hover,
   .input:focus{
     border-color: var(--text-decoration-color);
   }

   .field:focus-within >.comment{
    border-color: var(--text-decoration-color);
   }

   .comment::placeholder{
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 0.5);
   }

   .field-policy{
     position: relative;
   }

   .checkbox-icon{
     position: absolute;
     border: 2px solid var(--title-text-color);
     border-radius: 2px;
     top: 0;
     left: -23px;
     transition-duration: 250ms;
     transition-timing-function: var(--option);
   }

   .visually-hidden{
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
   }

   .agreement{
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-left: 76px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
   }

   .checkbox:checked+.checkbox-icon{
     background-color: var(--text-decoration-color);
     border: 2px solid transparent
   }

   .policy-link{
     color: var(--text-decoration-color);
   }

   .submit{
     margin: 30px 164px 40px 164px;
     padding: 10px 55px;
     width: 200px;
     height: 50px;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     color: var(--white-color);
     background-color: var(--text-decoration-color);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: 1px solid transparent;
     transition-duration: 250ms;
     transition-timing-function: var(--option);
    }

    .submit:hover{
      color: var(--white-color);
      background-color: #188CE8;


